<h1>Patients: </h1>

<%= @patients.each do |patient| %>
  <p>Patient: <%= link_to patient.name, patient_path(patient) %></p>
  <p>Number of appointments: <%= patient.appointments.count %></p>
<% end %>
